{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block header_title %}<h1 class="text-center">Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_creae')}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
