{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}"
                           alt="todo list"><h1 class="text-center">Liste des tâches</h1>{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div id="message" class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right mb-2">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4 col-lg-4 col-md-4 my-2">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="badge badge bg-secondary">Non fait</span>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h4><a class="text-dark" href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                        </div>
                        <div class="card-text">
                            <p>{{ task.content }}</p>
                        </div>
                    </div>
                        <div class="card-footer d-flex">
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-sm pull-right me-2">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                            </form>
                        </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}"
                                                             class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
